body {
  background: #f1f1f1;
  font-size: 0.6rem;
  width: 100%;
  height: 100%;
}
.goback {
  width: 100%;
  z-index: 99;
  display: block;
  background: #5A7CDD;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  padding: 0 28px;
}
.goback .iconfont {
  font-size: 1rem;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  top: 0;
}
.loading .imgbox {
  width: 1.5rem;
  height: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading img {
  -webkit-animation: boat 1s ease-in-out infinite;
  -o-animation: boat 1s ease-in-out infinite;
  animation: boat 1s ease-in-out infinite;
  width: 100%;
}
@-webkit-keyframes boat {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.iframerool {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.buleColor {
  color: #5A7CDD;
}
.ru-tp {
  color: #3D3D3E ;
  font-size: 0.8rem;
  padding: 2rem 1.35rem 4.1rem;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  width: 100%;
  height: 100%;
}
.ru-tp h4 {
  padding: 1rem 0 0.7rem;
  text-align: center;
}
.ru-tp .bgbox {
  width: 100%;
  background: #fff;
}
.ru-tp .comstyle {
  font-size: 0.8rem;
  line-height: 1rem;
  overflow-x: hidden;
  height: 19rem;
  width: 100%;
  padding: 0 0.7rem;
}
.ru-tp p {
  border-top: 1px solid #e9e9e9;
  text-align: center;
  line-height: 2.2rem;
  height: 2.2rem;
  color: #5A7CDD;
}
.se-tit {
  padding-left: 0.5rem;
  font-size: 0.8rem;
  line-height: 2rem;
  color: #B1B1B2;
  background-color: #f1f1f1;
}
.check {
  font-size: 1rem;
  color: #5A7CDD;
}
.eve-li li {
  cursor: pointer;
  font-size: 0.8rem;
  width: 100%;
  background: #fff;
  margin-bottom: 1px;
  padding: 0.5rem 15px ;
  line-height: 1.2rem;
}
.index .swiper-container {
  height: 10rem;
  width: 100%;
  background: #eaeaea;
  overflow: hidden;
}
.index .describe {
  background: #fff;
  padding: 15px;
  margin-bottom: 2.3rem;
  color: #3D3D3E;
}
.index .describe p {
  font-size: 0.8rem;
  line-height: 1rem;
}
.index a.abtn {
  width: 100%;
  background: #5A7CDD;
}
.tb-msg,
.tb-car {
  font-size: 0.8rem;
}
.tb-msg .tb-det,
.tb-car .tb-det {
  color: #3D3D3E;
}
.tb-msg .tb-det li,
.tb-car .tb-det li {
  background: #fff;
  margin-bottom: 1px;
  padding: 0 10px;
  font-size: 0;
}
.tb-msg .tb-det li b,
.tb-car .tb-det li b,
.tb-msg .tb-det li span,
.tb-car .tb-det li span,
.tb-msg .tb-det li i,
.tb-car .tb-det li i {
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 0.8rem;
  display: inline-block;
}
.tb-msg .tb-det li .iconfont,
.tb-car .tb-det li .iconfont {
  color: #C4C4C5;
}
.tb-msg .tb-det li b,
.tb-car .tb-det li b {
  float: left;
  width: 3.7rem;
}
.tb-msg .tb-det li span,
.tb-car .tb-det li span {
  overflow: hidden;
  text-overflow: clip;
  width: 13rem;
}
.tb-msg .tb-det li .button,
.tb-car .tb-det li .button {
  display: block;
  text-align: center;
  width: 3.5rem;
  font-size: 0.7rem;
  line-height: 2.2rem;
}
.tb-msg .tb-det li .value,
.tb-car .tb-det li .value {
  font-size: 0.7rem;
  width: 100%;
  line-height: 2.2rem;
}
.tb-msg a.abtn,
.tb-car a.abtn {
  background: #5A7CDD 100%;
}
.tb-msg .companys li,
.tb-car .companys li {
  line-height: 2.2rem;
  background: #fff;
  padding: 0 10px;
}
.tb-msg .companys .iconfont,
.tb-car .companys .iconfont {
  font-size: 1rem;
  color: #5A7CDD;
}
.proWrap,
.carWrap {
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.proWrap #sure,
.carWrap #sure {
  z-index: 999;
  background: #5A7CDD;
  display: none;
}
.carWrap {
  background: #f1f1f1;
}
.tb-carlist .tb-allpro .tb-pro {
  cursor: pointer;
  height: 2.2rem;
  overflow: hidden;
  background: #fff;
  border: 1px solid #f1f1f1;
  text-indent: 10px;
  line-height: 2.2rem;
  color: #3D3D3E;
  font-size: 0.8rem;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.tb-carlist .tb-allpro .tb-pro h4 {
  width: 80%;
  display: inline-block;
}
.tb-carlist .tb-allpro .tb-pro dl dd {
  cursor: pointer;
  margin-top: 1px;
  padding-left: 16px;
  border-bottom: 1px solid #f1f1f1;
}
.tb-carlist .tb-allpro .tb-pro dl dd:nth-of-type(1) {
  border: 1px solid #f1f1f1;
}
.tb-carlist .tb-allpro .tb-pro dl dd:nth-last-of-type(1) {
  border-bottom: 0;
}
.tb-carlist .tb-allpro .tb-pro .iconfont {
  margin-right: 17px;
}
.tb-carlist a.abtn {
  background: #5A7CDD;
}
.tb-car .button {
  margin-top: 0.6rem;
  width: 1.7rem;
  height: 1rem;
  background: #C4C4C5;
  border-radius: 100px;
  position: relative;
  float: right;
  padding: 1px;
}
.tb-car .button .circle {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  left: 1px;
}
.tbcarDe .serch {
  width: 17rem;
  margin: 0.5rem auto 1rem;
  height: 1.9rem;
  line-height: 1.9rem;
  background: #fff;
  border: 1px solid #5A7CDD ;
  border-radius: 100px;
}
.tbcarDe .serch .iconfont {
  cursor: pointer;
  color: #5A7CDD;
  font-size: 0.9rem;
  width: 2rem;
  line-height: 1.8rem;
  float: left;
}
.tbcarDe .serch form {
  display: inline-block;
  width: 80%;
}
.tbcarDe .serch input[type='search'] {
  float: left;
  width: 80%;
  line-height: 1.8rem;
  font-size: 0.8rem;
}
.tbcarDe .hot-li li {
  cursor: pointer;
  font-size: 0.7rem;
  color: #3D3D3E;
  line-height: 2.2rem;
  text-align: center;
  float: left;
  width: 20%;
  margin-bottom: 1px;
  background: #fff;
  border-right: 1px solid #f1f1f1;
}
.program {
  font-size: 0.8rem;
  padding-bottom: 3rem;
}
.program .dateTime {
  padding: 0 0.7rem;
  line-height: 2rem;
  height: 2rem;
  color: #99999c;
}
.program .dateTime span,
.program .dateTime input.value,
.program .dateTime .iconfont {
  display: inline-block;
  float: left;
  line-height: 2rem;
}
.program .dateTime input.value {
  font-size: 0.7rem;
  width: 4.4rem;
  line-height: 2.2rem;
}
.program .dateTime .iconfont {
  font-size: 1rem;
}
.program div.wrap {
  cursor: pointer;
}
.program .insuranceList {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  width: 100%;
  height: 6.1rem;
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
.program .insuranceList .eve-list {
  cursor: pointer;
  border-bottom: 1px solid #e9e9e9;
  padding: 0.6rem 0.7rem;
}
.program .insuranceList .eve-list .iconfont,
.program .insuranceList .eve-list .pr-mon {
  line-height: 1.8rem;
}
.program .insuranceList .eve-list .grayChoose {
  cursor: pointer;
  color: #e9e9e9;
  font-size: 1rem;
  margin-right: 0.5rem;
}
.program .insuranceList .eve-list .check {
  color: #5A7CDD;
}
.program .insuranceList .eve-list .tit-name {
  height: 1.8rem;
  font-size: 0.7rem;
  line-height: 0.9rem;
}
.program .insuranceList .eve-list:nth-last-of-type(1) {
  border-bottom: none;
}
.program .moreChoose {
  cursor: pointer;
  padding: 0 0.7rem;
  line-height: 2.2rem;
  background: #fff;
}
.program .moreChoose .iconfont {
  margin-right: 0.5rem;
  font-size: 0.9rem;
  color: #FF9600;
}
.program .moreChoose span {
  font-size: 0.7rem;
}
.program .pro-li {
  padding: 0 0.7rem;
  line-height: 2.2rem;
  border-top: 1px solid #e9e9e9;
  background-color: #fff;
}
.program .pro-li:nth-last-of-type(1) {
  border-bottom: 1px solid #e9e9e9;
}
.program .calMon {
  height: 2rem;
  line-height: 2rem;
  margin-top: 0.8rem;
  padding: 0 0.7rem;
}
.program .calMon button {
  cursor: pointer;
  width: 5.5rem;
  height: 2rem;
  border: 1px solid #5A7CDD;
  background-color: #fff;
  border-radius: 100px;
}
.program .abtn {
  background: #5A7CDD;
}
.prolist {
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: -100%;
}
.prolist .eve-li li {
  height: 2rem;
}
.prolist .eve-li li .iconfont {
  font-size: 1rem;
  color: #eaeaea;
}
.prolist a.abtn {
  background: #5A7CDD;
}
.monlist {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
}
.monlist .mo-bt {
  width: 100%;
  height: 100%;
  position: relative;
}
.monlist .mo-bt .mo-wr {
  height: 100%;
  background: #f1f1f1;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow-x: hidden;
}
.monlist .eve-li li {
  height: 2rem;
}
.monlist .eve-li li .iconfont {
  font-size: 1rem;
  color: #5A7CDD;
}
.monlist .noChoose {
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.7rem;
  background: #fff;
}
.immediately {
  padding-bottom: 3rem;
}
.immediately .eve-li li {
  padding: 0 15px;
  height: 2rem;
  line-height: 2rem;
}
.immediately .eve-li li span {
  display: inline-block;
}
.immediately .eve-li li span.leftspan {
  width: 4.6rem;
}
.immediately .eve-li li input {
  width: 10rem;
  line-height: 2rem;
  font-size: 0.7rem;
}
.immediately .eve-li li .button {
  color: #5A7CDD;
}
.immediately a.abtn {
  width: 100%;
  background: #5A7CDD;
}
.immediately p.rules {
  padding-left: 0.5rem;
  line-height: 1rem;
  height: 2rem;
  margin: 0.5rem 0 1.5rem;
  font-size: 0.7rem;
}
.immediately p.rules input[type='checkbox'] {
  margin-right: 10px;
  height: 0.8rem;
  width: 0.8rem;
}
.or-de {
  padding-bottom: 3rem;
  font-size: 0.8rem;
}
.or-de .eve-li .iconfont {
  margin-right: 5px;
  font-size: 1.1rem;
  color: #e9e9e9;
}
.or-de a.abtn {
  background: #5A7CDD;
}
.or-de .re-in {
  z-index: 999;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 100%;
  height: 100%;
}
.or-de .re-in .or-dv {
  position: relative;
  height: 100%;
}
.or-de .re-in .or-dv .eve-li {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.or-de .re-sr {
  text-align: center;
  z-index: 999;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.or-de .re-sr .re-dp {
  width: 100%;
  height: 100%;
  position: relative;
}
.or-de .re-sr .re-dp .comstyle {
  font-size: 0.8rem;
  line-height: 1rem;
  overflow-x: hidden;
  height: 19rem;
  width: 100%;
  padding: 0 0.7rem;
}
.or-de .re-sr .re-dp h5 {
  line-height: 1rem;
  padding: 1rem 0 0.7rem;
  text-align: center;
}
.or-de .re-sr .re-dp .re-lp {
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 16rem;
  left: 50%;
  position: absolute;
  background: #fff;
  border-radius: 10px;
}
.or-de .re-sr .re-dp .re-lp .rules {
  color: #5A7CDD;
}
.or-de .re-sr .re-dp .re-lp h4 {
  padding: 1.3rem 1.8rem 1rem;
  line-height: 2rem;
}
.or-de .re-sr .re-dp .re-lp .btnwp {
  border-top: 1px solid #f1f1f1;
}
.or-de .re-sr .re-dp .re-lp .btnwp li {
  height: 2.1rem;
  line-height: 2.1rem;
  width: 50%;
}
.or-de .re-sr .re-dp .re-lp .btnwp #close {
  border-right: 1px solid #f1f1f1;
}
.or-de .re-sr .re-dp .re-lp .btnwp .agree {
  color: #5A7CDD;
}
.checkMsg {
  padding-bottom: 3rem;
  font-size: 0.8rem;
}
.checkMsg .toops {
  padding: 0.5rem 0.7rem 0.5rem;
  line-height: 1.1rem;
  border-bottom: 1px solid #e9e9e9;
  background: #fff;
}
.checkMsg .ph-wp {
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 10px;
}
.checkMsg .ph-wp .mid {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}
.checkMsg .ph-wp .comcss {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.checkMsg .ph-wp li {
  width: 50%;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 10px;
}
.checkMsg .ph-wp li .imgbox {
  position: relative;
  width: 6rem;
  height: 4.5rem;
  margin: 1rem auto 0.75rem;
  border: 1px dashed #979797;
  overflow: hidden;
}
.checkMsg .ph-wp li .imgbox img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 98;
  left: 0;
}
.checkMsg .ph-wp li .imgbox:after,
.checkMsg .ph-wp li .imgbox:before {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  background: #979797;
}
.checkMsg .ph-wp li .imgbox:after {
  width: 1px;
  height: 1rem;
}
.checkMsg .ph-wp li .imgbox:before {
  width: 1rem;
  height: 1px;
}
.checkMsg .ph-wp li p {
  font-size: 0.7rem;
  text-align: center;
  color: #ccccc9;
}
.checkMsg .eve-li {
  padding-bottom: 2.7rem;
}
.checkMsg .eve-li li input {
  text-align: right;
  display: block;
  font-size: 0.7rem;
  line-height: 1rem;
}
.checkMsg a.abtn {
  background: #5A7CDD;
}
.suc {
  height: 100%;
  width: 100%;
  background: #fff;
  font-size: 0.8rem;
  color: #3d3d3e;
  padding: 0 0.7rem;
  line-height: 1rem;
}
.suc h4 {
  padding: 0.6rem 0 1rem;
}
.widths {
  width: auto;
}
